@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.main-container {
  flex-grow: 1;
}

.page-header-logo {
  position: relative;
  left: 7px;
  z-index: 1;
  display: block;
  width: 138px;
  margin: 0 auto -5px;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 72px 0 59px;
}

.wrapper {/*селектор для каталога*/
  padding-left: 71px;
  padding-right: 71px;
}

.navigation-list {
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.navigation-other {
  margin: 0 0 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.navigation-link {
  display: block;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-item {
  margin: 0 9px 0 0;
  padding: 13px 0;
}

.navigation-item-current {
  border-bottom: 2px solid #756257;
}

.navigation-other-link {
  display: block;
  margin-left: 1px;
  min-width: 38px;
  min-height: 38px;
}

/*.navigation-other-link-search { - позже вставлю иконки
  background-image: ;
}

.navigation-other-link-favorites { - позже вставлю иконки
  background-image: ;
}*/

.navigation-other-btn {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  width: 160px;
  margin-left: 23px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.main-index-logo img {
  width: 100%;
  max-width: 458px;
}

.main-index-logo {
  background: url("../img/main-divider.svg"), url("../img/background/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px;
}

.main-index-description {
  line-height: 36px;
  max-width: 720px;
  margin: 0 auto;
  padding: 36px 0 60px;
}

.main-index-description-title {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.main-index-text {
  font-size: 22px;
  font-weight: 400;
}

.advantages-picture {
  width: 100%;
  max-width: 800px;
}

.advantages-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  padding: 95px 82px 50px;
  font-weight: 400;
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
}

.advantages-item-home {
  background-image: url("../img/icons/icon-home.svg");
  background-position: 163px 89px;
}

.advantages-item-food {
  background-image: url("../img/icons/icon-food.svg");
  background-position: 163px 91px;
}

.advantages-item-souvenir {
  background-image: url("../img/icons/icon-souvenir.svg");
  background-position: 168px 85px;
}

.advantages-item-container {
  width: 100%;
}

.advantages-title {
  max-width: 172px;
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-desc {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-container {
  display: flex;
}

.advantages-item-container:nth-child(2) .advantages-container {/*преимущество №2*/
  flex-direction: row-reverse;
}

.advantages-title-desc {/*заголовки преимуществ*/
  color: #ffffff;
}

.advantages-description {
  margin-bottom: 30px;
}

.advantages-item-food {
  background-color: #ffffff;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-services .advantages-item {/*элементы подсписка*/
  padding-top: 182px;
}

.advantages-list-services .advantages-title {
  margin-bottom: 15px;
}

.search {
  max-width: 584px;
  margin: 0 auto;
  padding: 60px 0 91px;
}

.search-title {
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-title-text {
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.search-link {
  display: block;
  max-width: 575px;
  margin: 0 auto;
  padding: 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  border-radius: 10px;
}

.newsletter {
  padding: 94px 0 94px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/background/background-newsletter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter h2 {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter p {
  max-width: 545px;
  margin: 0 auto;
  padding-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  max-width: 800px;
  min-height: 60px;
  margin: 0 auto;
}

.field {
  width: 100%;
  padding-left: 22px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.field::placeholder {
  opacity: 0.6;
}

.newsletter-button {
  flex-shrink: 0;
  width: 200px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background: #83b3d3;
  border: none;
  border-radius: 0 10px 10px 0;
}

.main-footer {
  display: flex;
  width: 100%;
  margin-top: auto;
  padding: 24px 49px 26px 61px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 149px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 4px;
  margin-bottom: 4px;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-link {
  display: block;
  min-width: 40px;
  min-height: 40px;
}

.contacts-phone {
  display: block;
  padding: 15px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.htmlacademy-link {
  display: block;
  min-width: 115px;
  margin-left: auto;
  padding: 18px 23px;
}

.main-inner {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  color: #333333;
}

.catalog-container {
  color: #ffffff;
  background-image: url("../img/background/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 69px;/*горизонтальные паддинги 71px заданы через класс wrapper*/
}

.inner-header-title {
  margin: 0 0 5px 0;/*по умолчанию верхний и нижний маргины у заголовка 50px, поэтому задала паддинг родителя 35px - расстояние по макету до заголовка*/
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {/*список хлебные крошки*/
  display: flex;
  align-items: center;
  margin: 0 0 45px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {/*пункт списка хлебные крошки*/
  margin-right: 26px;
}

.breadcrumbs-link {
  display: block;
  min-width: 12px;
  min-height: 12px;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-label {
  text-align: right;
  opacity: 0.3;
}

.catalog-filter-price {
  display: flex;
}

.button-apply {
  width: 160px;
  display: block;
  margin: 0 auto;
  padding: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.button-reset {
  width: 160px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.sorting {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 40px 0 38px;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
}

.sorting p {
  margin: 0 auto 0 0;
  padding: 5px 15px 5px 0;
}

.select-control {
  width: 287px;
  height: 48px;
  margin-left: auto;
  margin-right: 81px;
  padding-left: 17px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}


.sorting-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
  align-items: center;
}

.sorting-group a {
  display: block;
  margin: 4px 8px 4px 0;
  width: 48px;
  height: 48px;
}

.sorting-group a:nth-child(3n) {
  margin: 4px 0;
}

.product-cards-list {/*список гостиниц*/
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;
}

.product-cards-item {/*карточка гостиницы*/
  display: flex;
  align-items: flex-end;
  padding: 28px 0 30px;
  border-bottom: 1px solid #e6e6e6;
}

.product-cards-img {/*картинка гостиницы*/
  display: block;
  width: 180px;
  height: 120px;
}

.product-card-link {
  display: block;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.product-card-container {/*блок с назв-м, типом, стоим, кнопками*/
  width: 100%;
  max-width: 400px;
  padding-left: 36px;
}

.product-card-title {/*название гостиницы*/
  margin: 0;
  padding-bottom: 1px;
  /*padding-left: 1px;- скрыла временно до подгонки по perfect pixel*/
  font-weight: 700;
  font-size: 24px;
}

.type-house-description span {
  display: inline-block;
  padding-bottom: 1px;
}

.product-card-type-house {
  width: 100%;
  max-width: 151px;
  margin-right: 7px;
  /*padding: 1px 1px;- скрыла временно до подгонки по perfect pixel*/
}

.product-card-button-container {/*блок с кнопками*/
  padding-top: 30px;
}

.product-card-button {/*кнопки*/
  width: 100%;
  display: inline-block;
  margin-right: 8px;
  padding: 8px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-details {
  background-color: #756257;
  max-width: 151px;
}

.button-favorites {
  background-color: #83b3d3;
  max-width: 160px;
}

.button-favorites-select {
  background-color: #7db54f;
}

.product-card-grade {/*блок звезды и рейтинг*/
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.product-card-stars {
  margin-bottom: 64px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.stars-hotel {
  display: block;
  width: 25px;
  height: 17px;
  padding: 0 3.5px;
  background-image: url("../img/background/star.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-rating {/*рейтинг*/
  width: 160px;
  margin: 0;
  padding: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-show-more-container {/*обертка для оформления*/
  padding-top: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.pagination-show-more {
  display: block;
  width: 100%;
  max-width: 625px;
  margin: 0 auto;
  padding: 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.pagination {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding-top: 31px;
  align-items: center;
}

.pagination-list {
  display: flex;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 55px;
  min-height: 55px;
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.element-count {
  margin-left: auto;
  margin-right: 51px;
}

.pagination .select-control {
  width: 160px;
  height: 48px;
  margin: 0;
  padding-left: 15px;
}

.newsletter-inner {
  padding: 89px 0 138px;
  background: none;
}

.newsletter-inner h2 {
  color: #000000;
}

.newsletter-inner p {
  color: #333333;
}

.navigation-list,
.navigation-other-link-favorites,
.navigation-other-link-search,
div,
section,
footer,
.social-link,
.breadcrumbs-link,
.navigation-item,
.navigation-link,
.sorting-group,
.sorting-group a,
.product-card-stars,
.product-card-rating,
.stars-hotel {
  outline: 1px solid #ff0000;
}/*вспомогат.обводка*/
